<!DOCTYPE html>
  <html>
    <head>
    </head>
    
    <body>
      <h1>Today</h1>
      <%day = Date.today.striftime("%A")%>
      <%month_day = Date.today.striftime("%B %d")%>
      <%year = Date.today.striftime("%Y")%>
      <%="The date is #{day}, #{month_day}, #{year}"%>
    </body>
  </html>