<!DOCTYPE html>
  <html>
    <head>
    </head>
    
    <body>
      <h1>Today</h1>
      <%day = Date.today.striftime("%A") %>
      <%month = Date.today.striftime("%A") %>
      <p><%="The date is " %></p>
    </body>
  </html>